
.die {
	border-radius: 3px;
	border: none;
	color: #FFFFFF;

	min-width: 36px;
	min-height: 36px;

	-webkit-box-shadow: 0 3px 6px #222222;
	-moz-box-shadow: 0 3px 6px #222222;
	box-shadow: 0 3px 6px #222222;

	&.gear {
		background-color: rgba(27,27,25,1);

		&.g1 {
			color: rgba(0,160,37,1);
		}

		&.g2 {
			color: rgba(187,208,0,1);
		}

		&.g3 {
			color: rgba(245,190,0,1);
		}

		&.g4 {
			color: rgba(255,142,0,1);
		}

		&.g5 {
			color: rgba(239,56,0,1);
		}

		&.g6 {
			color: rgba(229,0,15,1);
		}
	}

	&.brake {
		background-color: rgba(211,30,14,1);
	}

	&.coast {
		background-color: #FAFAFA;
		color: #555555;
	}

	&.boost {
		background-color: rgba(0,160,37,1);
	}
	
}

.selected {
	background-color: #999999;
	opacity: 0.6;
	color: #FFFFFF;
}

.digit {
	font-family: 'Fira Code', monospace;
	font-weight: bold; 
	// font-style: italic;  
}

#weather-change {
	max-width: 48px;
	max-height: 48px;
}

textarea {
	height: 220px;
}

