

<div class="grid-container screen-light">

  <div class="grid-x grid-padding-x">
    <div class="cell small-8">
      <h1 class="">{{race.details.name}} <small>{{race.stages[stageIndex].special}}</small></h1>
    </div>

    <div class="cell small-4">
      <h1 class="digit text-right">{{formatTime(race.stages[stageIndex].stageTime - race.stages[stageIndex].dashboard.focusTokens)}}</h1>
    </div>
  </div>

  <p>Class: {{race.stages[stageIndex].dashboard.class}} | Gear: {{race.stages[stageIndex].dashboard.gear}} | Focus Tokens: {{race.stages[stageIndex].dashboard.focusTokens}} | Gear Damage: {{race.stages[stageIndex].dashboard.gearDamage}} | Brake Damage: {{race.stages[stageIndex].dashboard.brakeDamage}} | Coast Damage: {{race.stages[stageIndex].dashboard.coastDamage}} | Weather: {{race.stages[stageIndex].dashboard.weather}} | Tyres: {{race.stages[stageIndex].dashboard.tyres}} | <span [ngClass]="{'text-line-through': race.stages[stageIndex].dashboard.sisuUsed}">SISU</span></p>

  <div class="grid-x grid-padding-x">
    <div class="cell shrink">
      <button class="button gear die digit g0" [disabled]="race.stages[stageIndex].dashboard.gear != '00'" type="button" [ngClass]="{'selected':gear0.selected}" (click)="dieSelected(gear0)">{{gear0.label}}</button>
    </div>

    <div *ngFor="let gear of gears" class="cell shrink">
      <button class="button gear die digit" [disabled]="race.stages[stageIndex].dashboard.gear == '00'" type="button" [ngClass]="{'selected':gear.selected}" [class]="'g'+gear.label" (click)="dieSelected(gear)">{{gear.label}}</button>
    </div>
     <div *ngFor="let brake of brakes" class="cell shrink">
      <button class="button brake die digit" [disabled]="race.stages[stageIndex].dashboard.gear == '00'" type="button" [ngClass]="{'selected':brake.selected}" (click)="dieSelected(brake)"></button>
    </div>
    <div *ngFor="let coast of coasts" class="cell shrink">
      <button class="button coast die digit" [disabled]="race.stages[stageIndex].dashboard.gear == '00'" type="button" [ngClass]="{'selected':coast.selected}" (click)="dieSelected(coast)"></button>
    </div>
    <div *ngFor="let boostDice of boost" class="cell shrink">
      <button class="button boost die digit" [disabled]="race.stages[stageIndex].dashboard.gear == '00'" type="button" [ngClass]="{'selected':boostDice.selected}" (click)="dieSelected(boostDice)"></button>
    </div>
  </div>

  <label for="focus">Focus:</label>
  <div class="grid-x grid-padding-x">
    <div class="cell auto">
      <button type="button" [disabled]="race.stages[stageIndex].dashboard.gear == '00'" class="button warning expanded" [ngClass]="{'selected':turn.flatOut}" (click)="flatOut()">Flat Out!</button>
    </div>

    <div class="cell auto">
      <select name="focusTokens" *ngIf="(!turn.flatOut && race.stages[stageIndex].dashboard.gear != '00')" [(ngModel)]="spendFocus" (ngModelChange)="focusSpentSelect($event)">
        <option *ngFor="let option of spendFocusOptions" [ngValue]="option.value">{{option.label}}</option>
      </select>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell small-6">
      <label>Loss Of Control:</label>
      <div class="expanded button-group">
        <button type="button" class="button alert digit" [disabled]="race.stages[stageIndex].dashboard.gear == '00'" [ngClass]="{'selected':turn.locGear == '0'}" (click)="lossOfControl('0')">0</button>
        <button type="button" class="button alert digit" [disabled]="race.stages[stageIndex].dashboard.gear == '00'" [ngClass]="{'selected':turn.locGear == '00'}" (click)="lossOfControl('00')">00</button>
        <button type="button" class="button alert digit" *ngIf="race.stages[stageIndex].flyingStart" [ngClass]="{'selected':turn.flyingStartFail}" (click)="flyingStartFailed()">Flying Start <i class="material-icons md-36">warning</i></button>
        <button *ngIf="race.stages[stageIndex].sisu" type="button" class="button warning digit" [disabled]="!turn.loc || race.stages[stageIndex].dashboard.sisuUsed" [ngClass]="{'selected':turn.locGear == '00'}" (click)="sisu()"><span [ngClass]="{'text-line-through': race.stages[stageIndex].dashboard.sisuUsed}">SISU</span></button>
      </div>

      <div *ngIf="turn.loc" class="grid-x grid-padding-x">
        <div class="cell shrink">
          <button type="button" class="button gear die expanded digit" (click)="addDamage('gear')">-G</button>
        </div>
        <div class="cell shrink">
          <button type="button" class="button brake die expanded digit" (click)="addDamage('brake')">-B</button>
        </div>
        <div class="cell shrink">
          <button type="button" class="button coast die expanded digit" (click)="addDamage('coast')">-C</button>
        </div>

        <div class="cell auto">
          <button type="button" class="button expanded secondary hollow" (click)="clearDamage()">Clear</button>
        </div>
      </div>
    </div>

    <div class="cell small-4" *ngIf="race.stages[stageIndex].changeableWeather">
      <label>Weather:</label>
      <div class="grid-x grid-padding-x">
        <div class="cell auto">
          <!-- <input type="image" src="../../assets/images/weather-change-token.png" id="weather-change" alt="Weather Change" class="token" (click)="weatherChange()"> -->
          <input type="button" class="button expanded" value="Change" (click)="weatherChange()">
        </div>
      </div>
    </div>

    <div class="cell small-4" *ngIf="race.stages[stageIndex].pitStops">
      <label>Pit Stop:</label>
      <div class="expanded button-group">
        <button type="button" [disabled]="turn.gear != '1'" class="button secondary digit" [ngClass]="{'selected':turn.pitGear == '0'}" (click)="pitstop('0')">0</button>
        <button type="button" [disabled]="turn.gear != '1'" class="button secondary digit" [ngClass]="{'selected':turn.pitGear == '00'}" (click)="pitstop('00')">00</button>
      </div>
      <select name="tyreOptions" *ngIf="turn.pitstop" [(ngModel)]="tyreSelect" (ngModelChange)="tyreChange($event)">
        <option *ngFor="let option of tyreOptions" [ngValue]="option">{{option}}</option>
      </select>
    </div>
  </div>

  
  <label>Turn:</label>
  <div class="grid-x grid-margin-x">
    <div class="cell auto">
      <p><strong>{{turn.entry}}</strong></p>
    </div>
    <div class="cell small-6">
      <button type="submit" class="button success expanded" value="Submit" (click)="submitLogEntry()">Submit</button>
    </div>
  </div>

  <hr>

  <div class="grid-x grid-padding-x" *ngFor="let turn of race.stages[stageIndex].log; let i = index">
    <div class="cell small-3 medium-1">Turn {{i+1}}:</div>
    <div class="cell small-5 medium-2">{{turn.entry}}</div>
    <div class="cell small-2 medium-2 digit">{{formatTime(turn.time)}}</div>
    <div class="cell small-2 medium-1 text-center" [hidden]="i != race.stages[stageIndex].log.length-1" (click)="removeLogEntry(i)"><span>&times;</span></div>
  </div>
    
  <hr>

  <div class="grid-x grid-padding-x">
    <div class="cell small-8 medium-3">Time:</div>
    <div class="cell small-4 medium-3"><span class="digit">{{formatTime(this.race.stages[stageIndex].stageTime)}}</span></div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell small-8 medium-3">Focus:</div>
    <div class="cell small-4 medium-3"><span class="digit">{{race.stages[stageIndex].dashboard.focusTokens}}</span></div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell small-8 medium-3">Stage Total:</div>
    <div class="cell small-4 medium-3"><span class="digit">{{formatTime(this.race.stages[stageIndex].stageTime - race.stages[stageIndex].dashboard.focusTokens)}}</span></div>
  </div>

  <hr>

  <div class="grid-x grid-padding-x">
    <div class="cell auto">
      <button type="button" class="button primary expanded" routerLink="/finish-race">Finish Special</button>
    </div>
  </div>
</div>




