
<div class="grid-container">
  <div class="grid-padding-x">

    <button type="button" class="button" data-toggle="configuration">Configuration</button>

    <p>Gear: {{race.dashboard.gear}} | Focus Tokens: {{race.dashboard.focusTokens}} | Gear Damage: {{race.dashboard.gearDamage}} | Brake Damage: {{race.dashboard.brakeDamage}} | Coast Damage: {{race.dashboard.coastDamage}}</p>

    <div class="grid-x">
      <div *ngFor="let gear of gears" class="cell small-1">
        <button class="button gear die" type="button" [ngClass]="{'selected':gear.selected}" (click)="dieSelected(gear)">{{gear.label}}</button>
      </div>
    </div>

    <div class="grid-x">
      <div *ngFor="let brake of brakes" class="cell small-1">
        <button class="button brake die" type="button" [ngClass]="{'selected':brake.selected}" (click)="dieSelected(brake)">{{brake.label}}</button>
      </div>
      <div *ngFor="let coast of coasts" class="cell small-1">
        <button class="button coast die" type="button" [ngClass]="{'selected':coast.selected}" (click)="dieSelected(coast)">{{coast.label}}</button>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="cell small-4">
        <label for="focus">Focus <span *ngIf="!turn.flatOut">Spent</span><span *ngIf="turn.flatOut">Gained</span>:</label>
        <input class="input-group-field" type="number" name="focusTokens" [disabled]="turn.flatOut" [(ngModel)]="this.turn.focus">
      </div>

      <div class="cell small-4">
        <label for="flatOut">Flat Out:</label>
        <button type="button" class="button warning expanded" [ngClass]="{'selected':turn.flatOut}" (click)="flatOut()">Flat Out!</button>
      </div>

      <div class="cell small-4">
        <label>Loss Of Control:</label>
        <button type="button" class="button alert expanded" [ngClass]="{'selected':turn.locGear == '0'}" (click)="lossOfControl('0')">0</button>
        <button type="button" class="button alert expanded" [ngClass]="{'selected':turn.locGear == '00'}" (click)="lossOfControl('00')">00</button>
      </div>
    </div>

    <div *ngIf="turn.loc" class="grid-x grid-padding-x">
      <div class="cell small-2">
        <button type="button" class="button gear die expanded" (click)="addDamage('gear')">-G</button>
      </div>
      <div class="cell small-2">
        <button type="button" class="button brake die expanded" (click)="addDamage('brake')">-B</button>
      </div>
      <div class="cell small-2">
        <button type="button" class="button coast die expanded" (click)="addDamage('coast')">-C</button>
      </div>

      <div class="cell small-2">
        <button type="button" class="button expanded secondary hollow" (click)="clearDamage()">Clear</button>
      </div>

    </div>

    <div class="">
      <input type="submit" class="button success" value="Submit" (click)="submitLogEntry()">
    </div>

    <p>Turn:</p>
    <p><span>{{turn.entry}}</span><span *ngIf="!turn.flatOut && turn.focus > 0">(-{{turn.focus}})</span></p>

    <hr>
    <ul>
      <li *ngFor="let turn of race.log; let i = index">{{turn.id}}: {{turn.entry}}: {{formatTime(turn.time)}} <button type="button" (click)="removeLogEntry(i)">&times;</button></li>
    </ul>
    <p>Time: {{formatTime(this.race.dashboard.totalTime)}}</p>
    <p>Focus: {{race.dashboard.focusTokens}}</p>
    <p>Total: {{formatTime(this.race.dashboard.totalTime - race.dashboard.focusTokens)}}</p>

    <!-- <pre>{{race | json}}</pre> -->

    <textarea #output>{{logOutput}}</textarea>
    <button type="button" (click)="copyOutput(output)">Copy</button>

  </div>
</div>

<div class="off-canvas-wrapper">
  <div class="off-canvas position-left" id="configuration" data-off-canvas>
    <div class="grid-container">

      <div class="grid-x grid-padding-x">
        <div class="cell large-12">
          <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>

          <h1>Race Details</h1>

          <form id="configuration" [formGroup]="raceDetails" (ngSubmit)="saveDetails()">

            <label for="name">
              Name
              <input id="name" type="text" name="raceName" formControlName="name" placeholder="Name"/>
            </label>

            <label for="special">
              Special
              <input id="special" type="text" name="special" formControlName="special" placeholder="Special"/>
            </label>

            <!-- <fieldset>
              <label for="class">Class</label>
              <input type="radio" name="class" value="GT4" id="GT4"><label for="GT4">GT4</label>
              <input type="radio" name="class" value="GT5" id="GT5"><label for="GT5">GT5</label>
              <input type="radio" name="class" value="GT6" id="GT6"><label for="GT6">GT6</label>
            </fieldset> -->

           
            <fieldset>
              <label for="class">Class</label>
              <div *ngFor="let option of carClass | keyvalue">
                <label [attr.for]="option.key"><input type="radio" name="class" [value]="option.key" [attr.id]="option.key">{{option.value}}</label>
              </div>
            </fieldset>
            
            <button type="submit" class="button small expanded">Save</button>
            <button type="button" class="button small expanded clear secondary" onclick="clearForm()" data-close>Cancel</button>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>




