
// import local settings overrides
@import './assets/foundation-sites/_settings';

// import everything foundation
@import "../node_modules/foundation-sites/assets/foundation";

// import local global overrides
@import './assets/foundation-sites/_global';

// FONT
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

// import material design icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// CUSTOM STUFF
body {
	background: url(./assets/images/rallymangt-bg2.png) no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.bg-dark {
	padding-top: 12px;
	background-color: #77777750;
}

.screen-light {
	background-color: rgba(239,236,229,0.8);
}

.material-icons  {
	// display: inline-flex;
    vertical-align: middle;
}

@include foundation-everything($prototype: true);