
// import local settings overrides
@import './assets/foundation-sites/_settings';

// import everything foundation
@import "../node_modules/foundation-sites/assets/foundation";

// import local global overrides
@import './assets/foundation-sites/_global';

@font-face {
  font-family: seven-segment;
  src: url(./assets/fonts/segment7/Segment7Standard.otf) format("opentype");
}


// CUSTOM STUFF
body {
	background: url(./assets/images/rallymangt-bg2.png) no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// .grid-container {
// 	max-width: 800px;
// }

// $grid-container: 400px;

// $foundation-palette: (
//   primary: #1779ba,
//   secondary: #767676,
//   success: red,
//   warning: #ffae00,
//   alert: #cc4b37,
// );